<section class="flex items-center h-full p-16 dark:bg-gray-900 dark:text-gray-100">
  <div class="container flex flex-col items-center justify-center px-5 mx-auto my-8">
    <div class="max-w-md text-center">
      <h2 class="mb-8 font-extrabold text-9xl dark:text-gray-600">
        <span class="sr-only">Ошибка</span>404
      </h2>
      <p class="text-2xl font-semibold md:text-3xl">Извините, мы не смогли найти эту страницу.</p>
      <p class="mt-4 mb-8 dark:text-gray-400">Но не волнуйтесь, на нашей домашней странице вы найдете много других
        вещей.</p>
      <a rel="noopener noreferrer" href="/home"
        class="px-8 py-3 font-semibold rounded dark:bg-violet-400 dark:text-gray-900">Вернуться на главную страницу</a>
    </div>
  </div>
</section>
