<ion-content scrollY="false">
  <div class="navbar bg-base-100 flex justify-between px-5">
    <label for="modal-end-game" class="modal-button">
      <ion-icon size="large" name="close-outline"></ion-icon>
    </label>
    <p class="text-3xl">Игра</p>
    <button class="modal-button" (click)="settingsClicked()">
      <ion-icon size="large" name="settings-outline"></ion-icon>
    </button>
  </div>

  <div #rowIsNotFull class="toast toast-center toast-middle w-4/5 z-10 hidden">
    <div class="alert alert-error shadow-lg">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none"
          viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <span>Текущий ряд не заполнен до конца.</span>
      </div>
    </div>
  </div>

  <div #functionNotSupported class="toast toast-center toast-middle w-4/5 z-10 hidden">
    <div class="alert alert-error shadow-lg">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none"
          viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <span>Данная функция не поддерживается на вашем устройстве.</span>
      </div>
    </div>
  </div>

  <div #noInfoToDisplayAlert class="toast toast-center toast-middle w-4/5 z-10 hidden">
    <div class="alert alert-error shadow-lg">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none"
          viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <span>Вы не ввели слово.</span>
      </div>
    </div>
  </div>

  <div #noWordFound class="toast toast-center toast-middle w-4/5 z-10 hidden">
    <div class="alert alert-error shadow-lg">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none"
          viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <span>Введенное вами слово не найдено.</span>
      </div>
    </div>
  </div>

  <div #hintOnlyTwice class="toast toast-center toast-middle w-4/5 z-10 hidden">
    <div class="alert alert-error shadow-lg">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none"
          viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <span>Подсказку можно использовать не более двух раз.</span>
      </div>
    </div>
  </div>

  <div #noHintForLastRow class="toast toast-center toast-middle w-4/5 z-10 hidden">
    <div class="alert alert-error shadow-lg">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none"
          viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <span>Нельзя использовать подсказку на последний ряд.</span>
      </div>
    </div>
  </div>

  <div #noSettings class="toast toast-center toast-middle w-4/5 z-10 hidden">
    <div class="alert alert-info shadow-lg">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
          class="stroke-current flex-shrink-0 w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>
        <span>Настройки будут доступны в будущих версиях игры.</span>
      </div>
    </div>
  </div>

  <div #enterWordInfo class="toast toast-center toast-top w-4/5 top-20">
    <div class="alert alert-info shadow-lg">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
          class="stroke-info flex-shrink-0 w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>
        <div>
          <h3 class="font-bold">Введите слово.</h3>
          <div class="text-xs">Длина слова должна соответствовать длине ряда.</div>
        </div>
        <div class="flex-none">
          <button class="btn btn-sm" (click)="closeHintToast()">ок</button>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-base-200 full-height flex flex-col justify-center">
    <div class="flex justify-center">
      <div *ngFor="let letter of guesses.rowOne"
        class="w-8 h-8 border border-black rounded-md m-1 flex justify-center items-center cell"
        [ngClass]="letter.className">{{letter.value}}
      </div>
    </div>
    <div class="flex justify-center">
      <div *ngFor="let letter of guesses.rowTwo"
        class="w-8 h-8 border border-black rounded-md m-1 flex justify-center items-center cell"
        [ngClass]="letter.className">{{letter.value}}
      </div>
    </div>
    <div class="flex justify-center">
      <div *ngFor="let letter of guesses.rowThree"
        class="w-8 h-8 border border-black rounded-md m-1 flex justify-center items-center cell"
        [ngClass]="letter.className">{{letter.value}}
      </div>
    </div>
    <div class="flex justify-center">
      <div *ngFor="let letter of guesses.rowFour"
        class="w-8 h-8 border border-black rounded-md m-1 flex justify-center items-center cell"
        [ngClass]="letter.className">{{letter.value}}
      </div>
    </div>
    <div class="flex justify-center">
      <div *ngFor="let letter of guesses.rowFive"
        class="w-8 h-8 border border-black rounded-md m-1 flex justify-center items-center cell"
        [ngClass]="letter.className">{{letter.value}}
      </div>
    </div>
    <div class="flex justify-center">
      <div *ngFor="let letter of guesses.rowSix"
        class="w-8 h-8 border border-black rounded-md m-1 flex justify-center items-center cell"
        [ngClass]="letter.className">{{letter.value}}
      </div>
    </div>
    <div class="flex justify-center mt-10">
      <button class="modal-button mx-2" (click)="help()" *ngIf="!isGameFinished">
        <ion-icon size="large" name="help-buoy-outline"></ion-icon>
      </button>
      <button class="modal-button mx-2" (click)="openGiveUpModal()" *ngIf="!isGameFinished">
        <ion-icon size="large" name="mail-open-outline"></ion-icon>
      </button>
      <button class="modal-button mx-2" (click)="openInfoModal()">
        <ion-icon size="large" name="book-outline"></ion-icon>
      </button>
    </div>
    <div *ngIf="isGameFinished" class="flex justify-center mt-10">
      <p class="link" (click)="shareResult()">Поделитесь результатом</p>
    </div>
  </div>

  <footer class="footer bg-neutral text-neutral-content p-3">
    <div class="w-full" [ngClass]="[isGameFinished ? 'flex flex-col justify-center items-center' : '']">
      <button class="btn no-animation absolute" *ngIf="isGameFinished" (click)="restart()">Играть
        снова</button>
      <div class="flex justify-center gap-1 my-0.5 w-full">
        <kbd *ngFor="let key of keyboard.firstRow; let i=index" class="kbd kbd-md"
          [ngClass]="[key.class, key.disable ? 'btn-disabled' : '']"
          (click)="keyClicked(keyboard.firstRow, i)">{{key.value}}</kbd>
      </div>
      <div class="flex justify-center gap-1 my-0.5 w-full">
        <kbd *ngFor="let key of keyboard.secondRow; let i=index" class="kbd kbd-md"
          [ngClass]="[key.class, key.disable ? 'btn-disabled' : '']"
          (click)="keyClicked(keyboard.secondRow, i)">{{key.value}}</kbd>
      </div>
      <div class="flex justify-center gap-1 my-0.5 w-full">
        <kbd *ngFor="let key of keyboard.thirdRow; let i=index" class="kbd kbd-md"
          [ngClass]="[key.class, key.disable ? 'btn-disabled' : '']"
          (click)="keyClicked(keyboard.thirdRow, i)">{{key.value}}</kbd>
      </div>
      <div class="flex justify-center gap-1 my-0.5 w-full">
        <kbd class="kbd kbd-md" (click)="removeLetter()" [ngClass]="[isGameFinished ? 'btn-disabled' : '']">
          <ion-icon name="backspace-outline"></ion-icon>
        </kbd>
        <kbd *ngFor="let key of keyboard.fourthRow; let i=index" class="kbd kbd-md"
          [ngClass]="[key.class, key.disable ? 'btn-disabled' : '']"
          (click)="keyClicked(keyboard.fourthRow, i)">{{key.value}}</kbd>
        <kbd class="kbd kbd-md" (click)="checkWord()" [ngClass]="[isGameFinished ? 'btn-disabled' : '']">
          <ion-icon name="return-down-back-outline"></ion-icon>
        </kbd>
      </div>
    </div>
  </footer>

  <canvas #shareImage class="hidden" width="440" height="440"></canvas>

  <input #closeGameModal type="checkbox" id="modal-end-game" class="modal-toggle" />
  <div class="modal">
    <div class="modal-box">
      <h3 class="font-bold text-lg">Закрыть игру</h3>
      <p class="pt-4">Вы уверены что хотите закрыть игру?</p>
      <p class="pb-4">Ваш прогресс будет потерян!</p>
      <div class="modal-action">
        <label for="modal-end-game" class="btn">Отмена</label>
        <button class="btn" (click)="closeGame()">Закрыть</button>
      </div>
    </div>
  </div>

  <input #congratulations type="checkbox" id="congratulations" class="modal-toggle" />
  <div class="modal">
    <div class="modal-box text-center">
      <h3 class="font-bold text-lg">Поздравляем!</h3>
      <p class="py-4">Вы угадали правильное слово!</p>
      <p class="link" (click)="shareResult()">Поделитесь результатом</p>
      <div class="modal-action">
        <button class="btn" (click)="endGame()">Закрыть</button>
      </div>
    </div>
  </div>

  <input #gameFailed type="checkbox" id="game-failed" class="modal-toggle" />
  <div class="modal">
    <div class="modal-box">
      <h3 class="font-bold text-lg">Проигрыш!</h3>
      <p class="py-4">К сожалению вы не угадали слово!</p>
      <div class="modal-action">
        <button class="btn" (click)="endGame()">Закрыть</button>
      </div>
    </div>
  </div>

  <input #giveUpModal type="checkbox" id="give-up" class="modal-toggle" />
  <div class="modal">
    <div class="modal-box">
      <h3 class="font-bold text-lg">Сдаться!</h3>
      <p class="py-4">Вы сдаетесь?</p>
      <div class="modal-action">
        <label for="give-up" class="btn">Нет</label>
        <button class="btn" (click)="giveUp()">Да</button>
      </div>
    </div>
  </div>

  <input #wordsTranslationModal type="checkbox" id="words-translation" class="modal-toggle"
    (change)="restoreDictionary()" />
  <label for="words-translation" class="modal modal-bottom sm:modal-middle">
    <div class="modal-box">
      <h3 class="font-bold text-lg">Значение введенных слов</h3>
      <label for="words-translation" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
      <div class="flex flex-col w-full">
        <ng-container *ngFor="let translation of hintAndGuessWords; let i = index">
          <h4 [innerHTML]="getWordFromHintAndGuessWords(translation)" class="text-xl"></h4>
          <ng-container *ngFor="let book of Object.keys(translation)">
            <div class="flex flex-col">
              <h6 [innerHTML]="getDictionaryName(book)" class="font-bold"></h6>
              <ng-container *ngFor="let variant of translation[book]">
                <div class="flex">
                  <span class="text-sm" [innerHTML]="variant.word + ' - ' + variant.translate"></span>
                </div>
              </ng-container>
            </div>
          </ng-container>
          <div class="divider" *ngIf="i < hintAndGuessWords.length"></div>
        </ng-container>
      </div>
      <div class="modal-action">
        <label for="words-translation" class="btn">Закрыть</label>
      </div>
    </div>
  </label>

</ion-content>
