<ion-content scrollY="false">

  <div class="navbar bg-base-100 flex justify-between px-5">
    <p class="text-3xl">Дошле</p>
    <label for="modal-about" class="modal-button">
      <ion-icon size="large" name="information-outline"></ion-icon>
    </label>
  </div>

  <div class="hero bg-base-200">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold">Начать игру</h1>
        <div class="flex items-center">
          <p class="py-6 mr-3">Ознакомится с правилами игры</p>
          <label for="modal-faq" class="btn btn-sm btn-outline">
            <ion-icon size="small" name="help-outline"></ion-icon>
          </label>
        </div>
        <button class="btn btn-primary" [routerLink]="['/game']">Старт</button>
      </div>
    </div>
  </div>

  <input type="checkbox" id="modal-about" class="modal-toggle" />
  <label for="modal-about" class="modal modal-bottom sm:modal-middle">
    <div class="modal-box">
      <h3 class="font-bold text-lg">Инфо</h3>
      <label for="modal-about" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
      <p>Дошле - это адаптация на чеченском языке нашумевшей игры созданной мистером Josh Wardle.</p>
      <p>Игра была создана в 2021 году и с тех пор набрала огромную популярность.</p>
      <p>Статью на английском языке написанную на Нью-йорк таймс можно почитать по <a class="link"
          href="https://www.nytimes.com/2022/01/03/technology/wordle-word-game-creator.html">ссылке</a>.</p>
      <p>Тем не менее правила в данной адаптации не предполагают ограничения в угадывании одного слова в день.</p>
      <div class="modal-action">
        <label for="modal-about" class="btn">Закрыть</label>
      </div>
    </div>
  </label>

  <input type="checkbox" id="modal-faq" class="modal-toggle" />
  <label for="modal-faq" class="modal modal-bottom sm:modal-middle">
    <div class="modal-box">
      <h3 class="font-bold text-lg">FAQ</h3>
      <label for="modal-faq" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
      <p>Вопросы и ответы</p>
      <div class="modal-action">
        <label for="modal-faq" class="btn">Закрыть</label>
      </div>
    </div>
  </label>
</ion-content>
